* {
  scroll-behavior: smooth;
}

.active{
    color: red;
}

/* 🔹 Zoom animation */
/* 🔹 Zoom animation */
@keyframes zoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

.animate-zoom {
  animation: zoom 6s ease-in-out infinite alternate;
}

